.section_size_special {
  width: calc(100% - 148px*2);
}

@media screen and (max-width: 1100px)  {
  .section_size_special {
    width: calc(100% - 48px*2);
  }
}

@media screen and (max-width: 850px) {
  .section_size_special {
    width: calc(100% - 0px*2);
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 425px) {

}
