.menu__items_items-direction_footer {
  flex-direction: row;
  gap: 18px;
}

@media screen and (max-width: 600px) {
  .menu__items_items-direction_footer {
    flex-direction: column;
    gap: 32px;
  }
}
